@import "tailwindcss";

/* ===== Completely hide scrollbar (but keep scrolling) ===== */

/* Chrome, Safari, Edge, Android WebView */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE/Edge legacy */
}

/* Ensure smooth scrolling still works */
html, body {
  overflow-y: auto;
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/*  my update */

:root,
body {
  background-color: #f8fafc; /* same as your app bg */
}

/* Make your layout respect + fill safe area */
.safe-area {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
